body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.grp-handler-cp-c {
  margin-left: -20px;
}

.default-container {
  width: 100%;
  height: 100%;
}

.toolbar {
  line-height: 0;
  background-color: #f2f2f2;
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, .25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar button {
  width: 50px;
  height: 40px;
  opacity: .55;
  clear: both;
  border: none;
  border-radius: unset;
  outline: none;
}

.toolbar button.active,
.toolbar button:hover {
  opacity: 1;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: inset 0 2px 0 0 rgba(51, 51, 51, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.toolbar button img,
.toolbar button svg {
  width: 22px;
  height: 29px;
}

.main-panel {
  height: calc(100% - 80px);
  background-color: #4368a9;
  display: flex;
  position: relative;
}

.canvas-holder {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
}

.canvas-container {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVQ4jWNgYGAQIYAJglEDhoUBg9+FowbQ2gAARjwKARjtnN8AAAAASUVORK5CYII=");
  background-size: 30px 30px;
  border: 1px solid #ccc;
  margin: auto;
}

.toolpanel {
  background-color: #f9f9f9;
  width: 300px;
  top: 0;
  left: 0;
  height: 100%;
  border: 1px solid #ddd;
  transition: all .4s;
  box-sizing: border-box;
  text-align: left;
  font-size: 13px;
  color: #777;
  display: none;
  position: absolute;
  z-index: 9999;
}

.toolpanel.closed {
  left: -300px;
}

.toolpanel.visible {
  display: initial;
}

.toolpanel .content {
  padding: 20px;
  position: relative;
  height: -webkit-fill-available;
  height: -ms-fill-available;
  height: fill-available;
  height: -moz-fill-available;
}

.toolpanel .title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  height: 3%;
  border-bottom: 1px solid #ddd;
  color: #333;
  text-transform: uppercase;
}

.toolpanel .content .hide-show-handler {
  position: absolute;
  top: 0px;
  right: -42px;
  width: 40px;
  height: 80px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;

  background-image: url('/app/assets/caret-left.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.toolpanel.closed .content .hide-show-handler {
  background-image: url('/app/assets/caret-right.svg');
}

.spectrum.with-add-on {
  width: 40px;
}

#shapes-panel .button {
  cursor: pointer;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 9px;
}

#background-panel .canvas-size-setting input {
  width: 60px;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid #e4e4e4;
  padding: 4px 10px;
  line-height: 18px;
  font-size: 13px;
}

#select-panel .text-section .style button,
#select-panel .alignment-section button,
#select-panel .object-options button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  outline: none;
}

#select-panel button svg {
  opacity: .7;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

#select-panel .text-section .style,
#select-panel .text-section .family,
#select-panel .text-section .sizes,
#select-panel .text-section .align,
#select-panel .text-section .color {
  margin-bottom: 20px;
}

#select-panel .text-section .sizes input {
  width: 50px;
}

.toolpanel#select-panel .text-section,
.toolpanel#select-panel .effect-section {
  display: none;
}

.toolpanel#select-panel.type-group .border-section {
  display: none;
}

.toolpanel#select-panel.type-group .fill-section {
  display: none;
}

.toolpanel#select-panel.type-textbox .text-section {
  display: block;
}

.toolpanel#select-panel.type-textbox .fill-section {
  display: none;
}

.toolpanel#select-panel.type-image .effect-section {
  display: block;
}

.toolpanel#select-panel.type-image .fill-section {
  display: none;
}

.custom-modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background: white;
  width: max-content;
  padding: 20px;
}

.custom-modal-content .button-download {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.custom-modal-content .button-download:hover {
  background: #ccc;
  transition: 0.3s;
}

.toolpanel .input-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toolpanel .input-container label {
  width: 50%;
}

.toolpanel .input-container select {
  width: 50%;
  height: 29px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.toolpanel .input-container .sp-replacer {
  width: 50%;
}

.toolpanel .input-container .custom-number-input {
  background: #ebebeb;
  display: flex;
  align-items: center;
  padding: 1px;
  height: 30px;
  background-color: #e4e4e4;
  border-radius: 6px;
  text-align: center;
}

.toolpanel .input-container .custom-number-input button {
  width: 36px !important;
  height: 30px !important;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 6px;
  color: #333;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.toolpanel .input-container .custom-number-input input {
  height: 30px !important;
  width: 60px !important;
  background: transparent !important;
  border: none;
  outline: none;
  text-align: center;
}

.toolpanel .input-container .custom-number-input input::-webkit-outer-spin-button,
.toolpanel .input-container .custom-number-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.toolpanel .input-container .custom-number-input input[type=number] {
  -moz-appearance: textfield;
}

.tab-container .tabs {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.tab-container .tabs .tab-label {
  font-size: 16px;
  cursor: pointer;
}

.tab-container .tabs .tab-label.active {
  color: black
}

.gradient-orientation-container {
  padding-top: 40px;
}

.drag-drop-input {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border: 2px dashed #ccc;
  border-radius: 6px;
  text-align: center;
  padding: 120px;
}

.drag-drop-input.dragging {
  border-color: #4368a9;
  background-color: hsl(218, 43%, 46%, 0.1);
  transition: 0.2s;
}

#footer-bar {
  padding-left: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, .25);
  order: 3;
  position: relative;
  color:#6d6d6d;
  display: flex;
  justify-content: space-between;
    align-items: center;
}

#tip-container {
  padding: 10px;
  text-align: center;
  touch-action: none;
  cursor: default;
  color: #888;
  font-size: 0.9em;
}

.zoom-level-container { 
  margin-left: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.zoom-level-container #zoom-value {
  min-width: 45px;
  display: inline-block;
  font-size: 0.8em;
}

.zoom-level-container #input-zoom-level {
  accent-color: #6d6d6d;
}

input#input-zoom-level {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px;
  border-radius: 5px;
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s;
  opacity: 0;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  gap: 15px;
  justify-content: center;
  min-width: calc(100% - 50px);
  max-height: calc(100% - 50px);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 115px;
  height: 115px;
  margin: auto;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

#images-panel .drag-drop-input{
  display: flex;
  width: 100%;
  height: 10%;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.toolpanel.layerpanel {
  width: 300px;
  right: 0;
  left: auto;
  height: 100%;
  color: #777;
  position: absolute;
  display: initial;
}

.toolpanel.layerpanel.closed {
  transform: translateX(100%);
}

.toolpanel.layerpanel .content {
  padding: 20px;
  position: relative;
  height: -webkit-fill-available;
  height: -ms-fill-available;
  height: fill-available;
  height: -moz-fill-available;
}

.toolpanel.layerpanel .content .hide-show-handler {
  right: auto;
  left: -42px;
  width: 40px;
  height: 80px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url('/app/assets/caret-right.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: pointer;
}

.toolpanel.layerpanel.closed .content .hide-show-handler,
.toolpanel.layerpanel .content .hide-show-handler.layer-handler-closed {
  background-image: url('/app/assets/caret-left.svg');
}

.main-panel {
  overflow-x: hidden;
}

.layer {
  width: 100%;
  margin-bottom: 2px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: #ddd 1px solid;
  transition: 0.1s;
}

.layer:hover {
  background-color: #d4d4d4;
}

.layer-selected {
  background-color: #b1b1b1;
  color: #fff;
}

.layer-selected:hover {
  background-color: #b1b1b1;
  color: #fff;
}

.layer-name {
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.layer-custom-name {
  background: transparent;
  color: inherit;
  outline: none;
  border: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  flex-grow: 1;
}

.layer-options {
  margin-right: 10px;
}

.layer-options img {
  width: 17px;
  margin-left: 5px;
  opacity: 0.8;
}

.layer-options img:hover {
  opacity: 1;
}